In [1]:
import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/Copy of moviesData (1).csv')
df

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

1. Display Top 10 Rows of The Dataset

In [43]:
df.head(10)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,Year
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,2009
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,2007
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,2015
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,2012
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,2012
5,258000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""na...",http://www.sonypictures.com/movies/spider-man3/,559,"[{""id"": 851, ""name"": ""dual identity""}, {""id"": ...",en,Spider-Man 3,The seemingly invincible Spider-Man goes up ag...,115.699814,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,2007-05-01,890871626,139.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,The battle within.,Spider-Man 3,5.9,3576,2007
6,260000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",http://disney.go.com/disneypictures/tangled/,38757,"[{""id"": 1562, ""name"": ""hostage""}, {""id"": 2343,...",en,Tangled,When the kingdom's most wanted-and most charmi...,48.681969,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,2010-11-24,591794936,100.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,They're taking adventure to new lengths.,Tangled,7.4,3330,2010
7,280000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://marvel.com/movies/movie/193/avengers_ag...,99861,"[{""id"": 8828, ""name"": ""marvel comic""}, {""id"": ...",en,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,134.279229,"[{""name"": ""Marvel Studios"", ""id"": 420}, {""name...",...,2015-04-22,1405403694,141.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Age Has Come.,Avengers: Age of Ultron,7.3,6767,2015
8,250000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://harrypotter.warnerbros.com/harrypottera...,767,"[{""id"": 616, ""name"": ""witch""}, {""id"": 2343, ""n...",en,Harry Potter and the Half-Blood Prince,"As Harry begins his sixth year at Hogwarts, he...",98.885637,"[{""name"": ""Warner Bros."", ""id"": 6194}, {""name""...",...,2009-07-07,933959197,153.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Dark Secrets Revealed,Harry Potter and the Half-Blood Prince,7.4,5293,2009
9,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.batmanvsupermandawnofjustice.com/,209112,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 7002...",en,Batman v Superman: Dawn of Justice,Fearing the actions of a god-like Super Hero l...,155.790452,"[{""name"": ""DC Comics"", ""id"": 429}, {""name"": ""A...",...,2016-03-23,873260194,151.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Justice or revenge,Batman v Superman: Dawn of Justice,5.7,7004,2016

2. Check Last 10 Rows of The Dataset

In [3]:
df.tail(10)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
4793,0,"[{""id"": 18, ""name"": ""Drama""}]",NaN,182291,"[{""id"": 718, ""name"": ""confession""}, {""id"": 100...",en,On The Downlow,Isaac and Angel are two young Latinos involved...,0.029757,"[{""name"": ""Iconoclast Films"", ""id"": 26677}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2004-04-11,0,90.0,[],Released,Two gangs. One secret. One crossroad.,On The Downlow,6.0,2
4794,0,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 27, ""n...",NaN,286939,[],en,Sanctuary: Quite a Conundrum,"It should have been just a normal day of sex, ...",0.166513,"[{""name"": ""Gold Lion Films"", ""id"": 37870}, {""n...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-01-20,0,82.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,Sanctuary: Quite a Conundrum,0.0,0
4795,0,"[{""id"": 18, ""name"": ""Drama""}]",NaN,124606,"[{""id"": 10726, ""name"": ""gang""}, {""id"": 33928, ...",en,Bang,A young woman in L.A. is having a bad day: she...,0.918116,"[{""name"": ""Asylum Films"", ""id"": 10571}, {""name...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1995-09-09,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Sometimes you've got to break the rules,Bang,6.0,1
4796,7000,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",http://www.primermovie.com,14337,"[{""id"": 1448, ""name"": ""distrust""}, {""id"": 2101...",en,Primer,Friends/fledgling entrepreneurs invent a devic...,23.307949,"[{""name"": ""Thinkfilm"", ""id"": 446}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2004-10-08,424760,77.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,What happens if it actually works?,Primer,6.9,658
4797,0,"[{""id"": 10769, ""name"": ""Foreign""}, {""id"": 53, ...",NaN,67238,[],en,Cavite,"Adam, a security guard, travels from Californi...",0.022173,[],[],2005-03-12,0,80.0,[],Released,NaN,Cavite,7.5,2
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

3. Find Shape of Our Dataset (Number of Rows And Number of Columns)

In [4]:
x=df.shape
print('Number of rows =',x[0])
print('Number of columns =',x[1])

Number of rows = 4803
Number of columns = 20

4. Getting Information About Our Dataset Like Total Number Rows, Total Number of Columns,
Datatypes of Each Column And Memory Requirement

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

5. Check Missing Values In The Dataset

In [10]:
df.isnull().sum()

budget                  0
genres                  0
homepage                0
id                      0
keywords                0
original_language       0
original_title          0
overview                0
popularity              0
production_companies    0
production_countries    0
release_date            0
revenue                 0
runtime                 0
spoken_languages        0
status                  0
tagline                 0
title                   0
vote_average            0
vote_count              0
dtype: int64

6. Drop All The Missing Values

In [7]:
df.dropna(subset='homepage',inplace=True)

In [9]:
df.dropna(subset='tagline',inplace=True)

7. Check For Duplicate Data

In [11]:
df.duplicated().any()

False

8. Get Overall Statistics About The DataFrame

In [13]:
df.describe(include='all')

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
count,1.493000e+03,1493,1493,1493.000000,1493,1493,1493,1493,1493.000000,1493,1493,1493,1.493000e+03,1493.000000,1493,1493,1493,1493,1493.000000,1493.000000
unique,NaN,555,1473,NaN,1414,22,1493,1493,NaN,1311,203,1221,NaN,NaN,233,2,1488,1493,NaN,NaN
top,NaN,"[{""id"": 18, ""name"": ""Drama""}]",http://www.thehungergames.movie/,NaN,[],en,Avatar,"In the 22nd century, a paraplegic Marine is di...",NaN,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2014-12-25,NaN,NaN,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Who is John Galt?,Avatar,NaN,NaN
freq,NaN,91,4,NaN,61,1435,1,1,NaN,41,936,5,NaN,NaN,1014,1492,2,1,NaN,NaN
mean,4.589534e+07,NaN,NaN,65498.552579,NaN,NaN,NaN,NaN,35.749280,NaN,NaN,NaN,1.550083e+08,108.657736,NaN,NaN,NaN,NaN,6.272873,1323.557267
std,5.369219e+07,NaN,NaN,89841.824027,NaN,NaN,NaN,NaN,48.207525,NaN,NaN,NaN,2.408712e+08,19.378758,NaN,NaN,NaN,NaN,0.970480,1792.459010
min,0.000000e+00,NaN,NaN,11.000000,NaN,NaN,NaN,NaN,0.023681,NaN,NaN,NaN,0.000000e+00,0.000000,NaN,NaN,NaN,NaN,0.000000,0.000000
25%,7.500000e+06,NaN,NaN,8090.000000,NaN,NaN,NaN,NaN,11.624230,NaN,NaN,NaN,9.455232e+06,95.000000,NaN,NaN,NaN,NaN,5.800000,207.000000
50%,2.700000e+07,NaN,NaN,26320.000000,NaN,NaN,NaN,NaN,25.281197,NaN,NaN,NaN,6.254895e+07,106.000000,NaN,NaN,NaN,NaN,6.300000,616.000000
75%,6.300000e+07,NaN,NaN,76341.000000,NaN,NaN,NaN,NaN,45.149948,NaN,NaN,NaN,1.860537e+08,120.000000,NaN,NaN,NaN,NaN,6.900000,1652.000000
max,3.800000e+08,NaN,NaN,426469.000000,NaN,NaN,NaN,NaN,875.581305,NaN,NaN,NaN,2.787965e+09,201.000000,NaN,NaN,NaN,NaN,8.400000,13752.000000

9. Display Title of The Movie Having Runtime Greater Than or equal to 180 Minutes

In [14]:
df.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [25]:
df180=df[df['runtime']>=180.0]
df180['original_title']

25                                            Titanic
298                           The Wolf of Wall Street
329     The Lord of the Rings: The Return of the King
690                                    The Green Mile
1333                                         Magnolia
1818                                 Schindler's List
Name: original_title, dtype: object

10. In Which Year There Was The Highest Average Voting?

In [28]:
df['release_date']=pd.to_datetime(df['release_date'])

In [29]:
df['Year']=df['release_date'].dt.year

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1493 entries, 0 to 4801
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                1493 non-null   int64
 1   genres                1493 non-null   object
 2   homepage              1493 non-null   object
 3   id                    1493 non-null   int64
 4   keywords              1493 non-null   object
 5   original_language     1493 non-null   object
 6   original_title        1493 non-null   object
 7   overview              1493 non-null   object
 8   popularity            1493 non-null   float64
 9   production_companies  1493 non-null   object
 10  production_countries  1493 non-null   object
 11  release_date          1493 non-null   datetime64[ns]
 12  revenue               1493 non-null   int64
 13  runtime               1493 non-null   float64
 14  spoken_languages      1493 non-null   object
 15  status                1493 non-null   object
 16  tagline               1493 non-null   object
 17  title                 1493 non-null   object
 18  vote_average          1493 non-null   float64
 19  vote_count            1493 non-null   int64
 20  Year                  1493 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(5), object(12)
memory usage: 256.6+ KB

In [31]:
df['Year']

0       2009
1       2007
2       2015
3       2012
4       2012
        ...
4773    1994
4781    2013
4791    2007
4796    2004
4801    2012
Name: Year, Length: 1493, dtype: int64

In [34]:
df.loc[df['vote_average'].idxmax()]['Year']

1972

11. In Which Year There Was The Highest Average Revenue?

In [40]:
revdf=df.groupby('Year')['revenue'].mean()
revdf.sort_values().tail(1)

Year
1977    480418340.0
Name: revenue, dtype: float64

12. Find The Average Votecount For Each Production

In [41]:
df.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'Year'],
      dtype='object')

In [44]:
df.groupby('production_companies')['vote_count'].mean()

production_companies
[]                                                                                                                                                                                                                                                                           19.902439
[{"name": "1492 Pictures", "id": 436}, {"name": "Dune Entertainment", "id": 444}, {"name": "Fox 2000 Pictures", "id": 711}, {"name": "Sunswept Entertainment", "id": 5219}, {"name": "Dune Entertainment III", "id": 6332}, {"name": "TSG Entertainment", "id": 22213}]    1648.000000
[{"name": "1492 Pictures", "id": 436}, {"name": "Warner Bros.", "id": 6194}, {"name": "Heyday Films", "id": 7364}]                                                                                                                                                         7006.000000
[{"name": "21 Laps Entertainment", "id": 2575}, {"name": "Andrew Lauren Productions (ALP)", "id": 19194}, {"name": "Global Produce", "id": 30133}, {"name": "A24", "id": 41077}]                                                                                           1048.000000
[{"name": "26 Films", "id": 2157}, {"name": "Gold Circle Films", "id": 12026}, {"name": "Visionview Production", "id": 29018}]                                                                                                                                              230.000000
                                                                                                                                                                                                                                                                              ...
[{"name": "Youth House Productions", "id": 81962}, {"name": "Fader Films", "id": 81963}]                                                                                                                                                                                      6.000000
[{"name": "Zephyr Films", "id": 16923}, {"name": "Egoli Tossell Film", "id": 44224}]                                                                                                                                                                                         55.000000
[{"name": "Zininsa Film Production", "id": 7653}, {"name": "Intellectual Properties Worldwide", "id": 18524}]                                                                                                                                                                60.000000
[{"name": "icon", "id": 4096}]                                                                                                                                                                                                                                               28.000000
[{"name": "kNow Productions", "id": 14911}]                                                                                                                                                                                                                                   8.000000
Name: vote_count, Length: 1311, dtype: float64

13. Display Top 10 Lengthy Movies Title and Runtime

In [45]:
df.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'Year'],
      dtype='object')

In [53]:
lengdf=df.sort_values(by='runtime',ascending=False).head(10)
lengdf[['original_title','runtime']]

                                         original_title  runtime
329       The Lord of the Rings: The Return of the King    201.0
1818                                   Schindler's List    195.0
25                                              Titanic    194.0
690                                      The Green Mile    189.0
1333                                           Magnolia    188.0
298                             The Wolf of Wall Street    180.0
330               The Lord of the Rings: The Two Towers    179.0
407                                      Meet Joe Black    178.0
262   The Lord of the Rings: The Fellowship of the Ring    178.0
3337                                      The Godfather    175.0

14. Find Most Popular Movie Title (Highest Revenue)

In [66]:
df.loc[df['revenue'].idxmax()]['original_title']

'Avatar'

15. Count Number of Action Movies

In [69]:
len(df[df['genres'].str.contains('Action',case=False)])

417

16. How Many Films of Each Genre Were Made?

In [70]:
df['genres'].value_counts()

[{"id": 18, "name": "Drama"}]                                                                                                                                 91
[{"id": 35, "name": "Comedy"}]                                                                                                                                74
[{"id": 18, "name": "Drama"}, {"id": 10749, "name": "Romance"}]                                                                                               47
[{"id": 35, "name": "Comedy"}, {"id": 10749, "name": "Romance"}]                                                                                              38
[{"id": 35, "name": "Comedy"}, {"id": 18, "name": "Drama"}]                                                                                                   32
                                                                                                                                                              ..
[{"id": 28, "name": "Action"}, {"id": 35, "name": "Comedy"}, {"id": 18, "name": "Drama"}, {"id": 10751, "name": "Family"}, {"id": 53, "name": "Thriller"}]     1
[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 27, "name": "Horror"}, {"id": 878, "name": "Science Fiction"}]                          1
[{"id": 12, "name": "Adventure"}, {"id": 10751, "name": "Family"}, {"id": 9648, "name": "Mystery"}, {"id": 878, "name": "Science Fiction"}]                    1
[{"id": 878, "name": "Science Fiction"}, {"id": 35, "name": "Comedy"}, {"id": 10751, "name": "Family"}, {"id": 10749, "name": "Romance"}]                      1
[{"id": 18, "name": "Drama"}, {"id": 28, "name": "Action"}, {"id": 35, "name": "Comedy"}]                                                                      1
Name: genres, Length: 555, dtype: int64